{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "importOrder": [
        "^(react|react-dom)(.*)$",
        "^(next)(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@canopy/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}